body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #7F8082;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Caviar Dreams Bold", Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 15px;
}

a {
    color: #7F8082;
}

#fundo-topo {
    background-image: linear-gradient(left, #E7E7E9 50%, #F68121 50%);
    background-image: -o-linear-gradient(left, #E7E7E9 50%, #F68121 50%);
    background-image: -moz-linear-gradient(left, #E7E7E9 50%, #F68121 50%);
    background-image: -webkit-linear-gradient(left, #E7E7E9 50%, #F68121 50%);
    background-image: -ms-linear-gradient(left, #E7E7E9 50%, #F68121 50%);
}

#col-logo {
    background-color: #E7E7E9;
    height: 149px;
}

#logo-ifrs {
    position: absolute;
    overflow: visible;
}

#logo-politica {
    padding-left: 170px;
    padding-top: 70px;
}

#col-menu {
    background: #F68121 url("../img/topo-divisoria.png") no-repeat left center;
    height: 149px;
    padding-top: 50px;
    padding-left: 120px;
}

.navbar-custom {
    font-family: "Caviar Dreams Bold", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    background-color: #F68121;
    border-color: #F68121;
    z-index: 2000;
}

/* title */
.navbar-custom .navbar-brand {
    color: #CCC;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #5E5E5E;
}

/* link */
.navbar-custom .navbar-nav > li > a {
    color: #FFF;
    border-bottom: 2px solid transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #FFF;
    border-bottom: 2px solid #FFF;
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    border-bottom: 2px solid #FFF;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #555;
    background-color: transparent;
}

/* caret */
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #FFF;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #CCC;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FFF;
}
/* /mobile version */

#home-carousel {
    margin-top: 10px;
    margin-right: -15px;
}

#home-carousel .carousel-indicators {
    width: auto;
    float: right;
    left: 90%;
    text-align: right;
    margin-left: 0;
    margin-bottom: 0;
}

#home-carousel .carousel-indicators li {
    border-color: #000;
}

#home-carousel .carousel-indicators .active {
    background-color: #F68121;
}

#home-carousel .carousel-inner {
    height: 243px;
}

#home-carousel .carousel-text {
    display: block;
    width: 40%;
    float: left;
    margin-top: 70px;
    padding-left: 25px;
    overflow: hidden;
    height: 173px;
}

#home-carousel .carousel-img {
    display: block;
    width: 60%;
    float: left;
    background-color: #F68121;
    padding-right: 20px;
}

#home-carousel .carousel-img .separator {
    position: absolute;
    background: url("../img/home-divisoria.png") no-repeat center center;
    width: 202px;
    height: 243px;
    z-index: 1000;
    float: left;
}

#home-novidades,
#home-faq {
    background-color: #E7E7E9;
    margin-top: 10px;
}

ul.dlm-downloads {
    list-style: none;
    padding-left: 0;
}

.download-link {
    text-align: center;
    width: 100%;
    display: block;
}

.download-link > .wp-post-image {
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 50px;
}

.link-faq {
    display: block;
    background: url('../img/faq.png') no-repeat right center;
    color: #7F8082;
    height: 100px;
    max-width: 262px;
    padding: 15px 40px 10px 15px;
    margin-bottom: 20px;
}

#home-contato {
    padding-bottom: 10px;
}

.contato-enviar {
    background: url('../img/enviar.png') no-repeat center center;
    width: 247px;
    height: 30px;
}

#voltar-ao-topo {
    background: url('../img/seta.png') no-repeat right center;
    color: #7F8082;
    padding-right: 33px;
    float: right;
}

footer {
    font-family: "Caviar Dreams Bold", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    margin-top: 20px;
}

#footer-logo {
    background: url('../img/footer-bg.png') repeat-x;
    padding-top: 11px;
}

#footer-info {
    color: #FFF;
    padding-top: 27px;
    padding-left: 0;
}

#footer-info .separator {
    position: absolute;
    background: url("../img/footer-divisoria.png") no-repeat center center;
    width: 119px;
    height: 156px;
    z-index: 1000;
    margin-top: -27px;
}

#footer-info-content {
    background: #F68121;
    height: 129px;
    padding-left: 125px;
    padding-top: 15px;
    margin-right: -15px;
}

#footer-links {
    font-size: 0.7em;
}

#footer-links a {
    color: #FFF;
}

#first-content {
    margin-top: 50px;
}

.post-title {
    color: #F68121;
}

.post-thumb {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.post-social {
    font-family: "Caviar Dreams Bold", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    text-align: right;
    margin-bottom: 30px;
    margin-left: 25px;
}

.post-meta {
    margin-top: 30px;
    font-size: 0.9em;
    font-style: italic;
}

.post-content a {
    text-decoration: underline;
}

.faq-title {
    color: #F68121;
}

.form-submit {
    display: none;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    width: 50%;
}

/* Carousel Fade */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
            transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }

    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #CCC;
    }

    #col-logo {
        height: auto;
    }

    #logo-politica {
        padding-top: 15px;
    }

    #col-menu {
        background-image: none;
        padding-top: 15px;
        height: auto;
    }
}

@media (max-width: 991px) {
    #logo-politica {
        padding-left: 0;
    }

    #voltar-ao-topo {
        margin-bottom: 0;
    }

    #footer-info .separator {
        display: none;
    }

    #footer-info-content {
        padding-left: 40px;
    }

    #home-carousel {
        margin-left: -15px;
    }

    #home-carousel .separator {
        display: none;
    }

    #home-carousel .carousel-text {
        width: auto;
        float: none;
        padding-top: 10px;
        padding-left: 10px;
    }

    #home-carousel .carousel-img {
        width: auto;
        float: none;
        padding-right: 0;
    }

    #home-carousel .carousel-indicators {
        width: 100%;
        left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (max-width: 1199px) {
    #col-menu {
        padding-top: 8px;
    }
}
